.weather-search {
  margin: 20px auto;
  width: 40%;
  text-align: center;
}
.weather-search button, input{
    font-size: inherit;
    font-family: inherit;
}
.weather-search input{
  padding: 3px 5px;
    outline: none;
    width: 50%;
    margin-right: 20px;

    font-family: inherit;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.weather-search button{
  background-color: #f1c40f;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    box-shadow: 1px 1px 1px #95a5a6;
    cursor: pointer;
    color: white;
}
.weather-search button:hover{
  background-color: #8eaf33;
}

.weather-search-light {
  margin: 20px auto;
  width: 40%;
  text-align: center;
}
.weather-search-light button, input{
  font-size: inherit;
  font-family: inherit;
}
.weather-search-light input{
    padding: 3px 5px;
    outline: none;
    width: 50%;
    margin-right: 20px;

    font-family: inherit;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.weather-search-light button{
  background-color: rgb(67, 32, 223);
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    box-shadow: 1px 1px 1px #95a5a6;
    cursor: pointer;
    color: white;
}
.weather-search-light button:hover{
  background-color: #8eaf33;
}


.weather-search-light .info {
  color: black;
}

.weather-search-light .info-cityname {
  color: black;
}

.result {
    margin-top: 1em;
}

.info {
  color: white
}

.info-cityname {
    font-weight: bold;
    color: white;
}
