<main [ngClass]="autoRenew.value ? 'toggleChecked' : 'toggleUnChecked'">
  <h1 id="title" [ngClass]="autoRenew.value ? 'h1Light' : 'h1Dark'">
    Angular Weather
    <mat-slide-toggle [ngClass]="autoRenew.value ? 'h1Light' : 'h1Dark'" [checked]="autoRenew.value"
      [formControl]="autoRenew" (change)="onChange()">
      {{autoRenew.value ? 'Light Mode' : 'Dark Mode'}}
    </mat-slide-toggle>
  </h1>
  <app-search-weather [change]="checked"></app-search-weather>
  <app-list-weather [change]="checked"></app-list-weather>
</main>
